<ion-header class="blue-header">
    <ion-navbar>

        <ion-toolbar topHeader *ngIf="!isFavorites">
            <!-- <ion-label>Locations</ion-label> -->
            <ion-select [(ngModel)]="selectedLocationId" interface="popover" (ionChange)="onLocationChange($event)">
                <ion-option value="{{location.id}}" *ngFor=" let location of locations">{{location.name}}</ion-option>
            </ion-select>
        </ion-toolbar>
        <ion-buttons end>
            <button ion-button>
                <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content class="grey-bg">
    <ion-list class="defect-select">
        <ion-item>
            <ion-label>Defect List</ion-label>
            <ion-select [(ngModel)]="selectedLocationId" placeholder="Choose Defect List">
                <ion-option value="defects">Water leak in kitchen think</ion-option>
                <ion-option value="defects1">Defect Location</ion-option>
                <ion-option value="defects2">Defect Location</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list class="defect-edit">
        <ion-item class="margin-16px">
            <span>Description:</span>
            <span>Water leak in kitchen think</span>
            <ion-icon item-end ios="md-create" md="md-create"></ion-icon>
        </ion-item>
        <ion-item>
            <span>Zone:</span>
            <span>Kitchen</span>
			<ion-icon item-end class="invisiable" ios="md-create" md="md-create"></ion-icon>
        </ion-item>
        <ion-item>
            <span>Subcontractor:</span>
            <span>PlumBER LTD</span>
            <ion-icon item-end ios="md-create" md="md-create"></ion-icon>
        </ion-item>
        <ion-item class="date-picker">
            <div item-content>
				<span>Due Date:</span>
                <button ion-button icon-right (click)="picker.open()">
					<ion-datetime #picker pickerFormat="DD MMMM YYYY" [min]="datePickerMin" [(ngModel)]="datePicker"></ion-datetime>
				</button>
            </div>
			<ion-icon item-end name="calendar" (click)="picker.open()"></ion-icon>
        </ion-item>

		<ion-item class="margin-32px">
            <span>Found Stage:</span>
            <span>Stage Name</span>
			<ion-icon item-end class="invisiable" ios="md-create" md="md-create"></ion-icon>
        </ion-item>
		<ion-item>
            <span>Inspection line item:</span>
            <span>Inspector form</span>
			<ion-icon item-end class="invisiable" ios="md-create" md="md-create"></ion-icon>
        </ion-item>
		<ion-item>
            <span>Reported By:</span>
            <span>John</span>
			<ion-icon item-end class="invisiable" ios="md-create" md="md-create"></ion-icon>
        </ion-item>
		<ion-item class="margin-32px">
            <span>Fix On Stage:</span>
            <span>Stage Name</span>
			<ion-icon item-end class="invisiable" ios="md-create" md="md-create"></ion-icon>
        </ion-item>
		<ion-item>
            <span>By SUNC:</span>
            <span>PlumberBER LTD</span>
			<ion-icon item-end class="" ios="md-create" md="md-create"></ion-icon>
        </ion-item>
		<ion-item>
            <span>Reported By:</span>
            <span>John</span>
			<ion-icon item-end class="invisiable" ios="md-create" md="md-create"></ion-icon>
        </ion-item>
    </ion-list>

</ion-content>