$white: #ffffff;
$grey1: #e6e6e6;
$grey2: #ececec;
$grey3: #e5e5e5;
$grey4: #999999;
$grey5: #cccccc;
$blue1: #193452;
$blue2: #1C3754;
$blue3: #5B86B3;
$blue4: #F0F3F7;
$alert: #D81D16;
$orange: #F37524;
