page-stages {
    ion-card.card.stages {
        @include padding(0);
        @include margin(0);
        width: 100%;
        @extend %border-radius;
        ion-card-header {
            font-size: 1rem;
            border-left: .375rem solid $alert;
            @include padding(0.875rem 0.5rem 0.875rem 0.5rem);
            @extend %grey2-bg;
            @extend %blue1;
            @extend %border-top-radius;
            @extend %content-between;
            ion-label:first-child {
                width: 66%;
                flex: 0 0 66%;
                @extend %content-wrap;
                font-weight: 500;
            }
            ion-label {
                font-weight: 400;
                @include margin(0);
                span {
                    width: .75rem;
                    height: .75rem;
                    display: inline-block;
                    vertical-align: middle;
                    margin: -1px 1px 0 0;
                    @extend %alert-bg;
                }
            }
        }
        ion-item.more {
            ion-label {
                height: 2rem;
                max-width: 2.5rem;
                @include margin(0);
                border-left: 2px solid $grey1;
                padding-left: .375rem;
            }
            .more__icon {
                display: flex;
                font-size: 2.75rem;
                line-height: 2rem;
                width: 38px;
                @extend %content-center;
            }
            .input-wrapper {
                flex-direction: row-reverse;
            }
            span {
                font-size: .875rem;
                font-weight: 400;
            }
            cite {
                font-size: .875rem;
                font-style: normal;
                font-weight: 300;
            }
            ion-icon.arrow{
                @include padding(0 .5rem);
            }
        }
        ion-item.item-block {
            min-height: 3rem;
            @include padding(0 .5rem);
            border-bottom: 1px solid $grey1;
            .item-inner {
                padding-right: 0;
                .input-wrapper, ion-label {
                    @extend %content-between;
                    @extend %content-wrap;
                    span{font-weight: 500;}
                    span, p{
                        font-size: .875rem;
                    }
                    p{
                        font-weight: normal;
                    }
                }
            }
            
            button:first-child{
                border-left: none;
            }
            button{
                min-width: 21.66%;
                max-width: 25%;
                font-size: .875rem;
                background: #fff;
                padding: .75rem .5rem;
                border-left: 1px solid $grey1;
            }
            button:nth-child(2){
                max-width: 34%;
            }
            
            
        }
        ion-item.item-block,
        ion-item.item-block [item-content] {
            @extend %content-center;
        }
        ion-item.item-block.white-btn{
            @include padding(0);
            ion-label{
                justify-content: flex-start;
            }
        }
    }
}