<ion-header class="blue-header">
    <ion-navbar>
        <ion-buttons start>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-toolbar topHeader *ngIf="!isFavorites">
            <!-- <ion-label>Locations</ion-label> -->
            <ion-select [(ngModel)]="selectedLocationId" interface="popover" (ionChange)="onLocationChange($event)">
                <ion-option value="{{location.id}}" *ngFor=" let location of locations">{{location.name}}</ion-option>
            </ion-select>
        </ion-toolbar>
        <ion-buttons end>
            <button ion-button>
                <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="grey-bg">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="Pull to refresh"></ion-refresher-content>
    </ion-refresher>
    <ion-card class="stages" *ngFor="let stage of stages">
        <ion-card-header>
            <ion-label>{{stage.name}}</ion-label>
            <ion-label text-right>
                <span></span> {{stage.status}}</ion-label>
        </ion-card-header>
        <ion-item class="more">
            <div item-content>
                <span>Start:</span>
                <cite>{{stage.start_date}}</cite>
                <ion-icon class="arrow" name="arrow-round-forward"></ion-icon>
                <span>End:</span>
                <cite>{{stage.end_date}}</cite>
            </div>
            <ion-icon class="more__icon" ios="ios-more" md="md-more"></ion-icon>
        </ion-item>

        <ion-item>
            <span class="content-wrap">Subcontractor:</span>
            <p class="content-wrap">{{stage.sub_contractor}}</p>
        </ion-item>
        <ion-item class="white-btn">
            <button item-button (click)="navigateTo('DefectsPage',stage)">Defects</button>
            <button item-button class="active" (click)="navigateTo('InspectionsPage',stage)">Inspections</button>
            <button item-button (click)="navigateTo('IssuesPage',stage)">Issues</button>
            <button item-button (click)="navigateTo('FilesPage',stage)">Files</button>
        </ion-item>
        <ion-item class="action-btn">
            <button item-button class="blue-btn">Start</button>
            <button item-button class="grey-btn active">Finish</button>
            <button item-button class="white-btn active">Details</button>
        </ion-item>

    </ion-card>
</ion-content>