// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../assets/stylesheet/variables';
@import '../assets/stylesheet/mixin';
%grey1-bg {
    background: $grey1;
}

%grey2-bg {
    background: $grey2;
}

%blue1 {
    color: $blue1;
}

%blue1-bg {
    background: $blue1;
}

%white {
    color: $white;
}

%border-radius {
    border-radius: .5rem;
}

%border-top-radius {
    border-radius: .5rem .5rem 0 0;
}

%alert-bg {
    background: $alert;
}

%content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%content-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%content-wrap {
    white-space: normal;
    margin: 0;
}

html,
body {
    font-size: 100%;
}

.grey-bg {
    @extend %grey1-bg;
}

ion-title.title {
    @include padding(0);
    .toolbar-title {
        font-size: 1rem;
        font-weight: 500;
    }
}

.blue-btn {
    @include padding(1rem 0);
    color: $white;
    background: $blue2;
}

.back-button-ios {
    font-size: 1rem;
}

.back-button-icon-md,
.back-button-icon-ios {
    font-size: 1.5rem;
}

.grey-btn {
    color: $grey4;
    background: $grey5;
    @include padding(1rem 0);
}

.white-btn {
    color: $blue2;
    background: $white;
    @include padding(1rem 0);
}

ion-select {
    max-width: 100%;
}

.blue-header {
    ion-select {
        max-width: 100%;
    }
    .toolbar-background {
        @extend %blue1-bg;
    }
    button {
        @extend %white;
    }
    ion-buttons {
        button.bar-button-menutoggle ion-icon {
            font-size: 2rem;
        }
        button.bar-button {
            font-size: 1.5rem;
        }
    }
    .select-text {
        color: $white;
        font-size: 1rem;
        text-align: center;
    }
}


/* Popover */

ion-popover.select-popover {
    .popover-content {
        left: 0 !important;
        width: 100%;
        ion-list[radio-group] {
            ion-item.item-block {
                min-height: 3rem;
                ion-label {
                    color: #000;
                    font-size: 1rem;
                }
            }
        }
    }
}


/* Radio Popup */

.alert-radio-group {
    button.alert-radio,
    button.alert-radio[aria-checked=true] {
        border-bottom: 1px solid #e8e8e8;
        .alert-radio-label {
            color: #000;
            font-size: 1rem;
        }
    }
}

ion-picker-cmp.picker-ios,
ion-picker-cmp.picker-md {
    .picker-opts {
        .picker-opt {
            height: 2.8rem;
            font-size: 1rem;
        }
    }
}

.button-md,
.button-ios {
    font-size: 1rem;
}

.invisiable {
    display: none;
    visibility: hidden;
}


/* Tab */

.tabs {
    ion-icon.tab-button-icon {
        font-size: 1.5rem;
    }
    .tab-button-text {
        font-size: .75rem;
        font-weight: 400;
        
    }
    .tab-button[aria-selected=true]{
        background: $blue2;
        ion-icon.tab-button-icon, .tab-button-text {
            color: #fff;
            transform: none;
        }
    }
}
ion-tabs.tabs-md {
    .tab-button, .tab-button[aria-selected=true]{
        @include padding(.125rem 0 0 0);
        min-height: 3.125rem;
    }
    .tab-button-text {
        font-size: .75rem;
        font-weight: 400;
    }
}