<ion-header class="blue-header">
    <ion-navbar>
        <ion-buttons start>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content padding class="grey-bg">
    <div class="contractor-list">
        <ion-label>Subcontractor</ion-label>
        <ion-list>
            <ion-item>
                <ion-select [(ngModel)]="selectedSubcontractorId" interface="popover" placeholder="Choose from list">
                    <ion-option [value]="subcontractor.id" *ngFor="let subcontractor of subcontractors">{{subcontractor.name}}</ion-option>
                </ion-select>

            </ion-item>
            <ion-item>
                <ion-searchbar [(ngModel)]="myInput"></ion-searchbar>
            </ion-item>
        </ion-list>
    </div>
    <ion-list class="stage-status">
        <ion-item class="item-stable" (click)="expandCollapse('beforeStart')">
            Before Start
            <ion-icon item-end ios="md-add" md="md-add" *ngIf="expandCol !== 'beforeStart'"></ion-icon>
            <ion-icon item-end ios="md-remove" md="md-remove" *ngIf="expandCol === 'beforeStart'"></ion-icon>
        </ion-item>
        <div class="expandable" [ngClass]="{'active': expandCol === 'beforeStart'}">
            <ion-item *ngFor="let dummyItem of dummyItems">
                <ion-label>{{dummyItem.name}}</ion-label>
                <ion-checkbox item-end></ion-checkbox>
                <ion-icon item-end class="arrow-dropright" ios="ios-arrow-dropright" md="ios-arrow-dropright"></ion-icon>
            </ion-item>
            <ion-item class="item-date">
                <div item-content>
                    <span>Start Date:</span>
                    <button ion-button icon-right (click)="picker.open()">
                        <ion-datetime #picker pickerFormat="DD MMMM YYYY" [min]="datePickerMin" [(ngModel)]="datePicker"></ion-datetime>
                    </button>
                </div>
                <ion-icon item-end name="calendar" (click)="picker.open()"></ion-icon>
            </ion-item>
        </div>
        <button ion-button class="grey-btn">Start</button>
    </ion-list>
    
    <ion-list class="stage-status">
        <ion-item class="item-stable" (click)="expandCollapse('inProgress')">
            During Work
            <ion-icon item-end ios="md-add" md="md-add" *ngIf="expandCol !== 'inProgress'"></ion-icon>
            <ion-icon item-end ios="md-remove" md="md-remove" *ngIf="expandCol === 'inProgress'"></ion-icon>
        </ion-item>
        <div class="expandable" [ngClass]="{'active': expandCol === 'inProgress'}">
            <ion-item *ngFor="let dummyItem of dummyItems">
                <ion-label>{{dummyItem.name}}</ion-label>
                <ion-checkbox item-end></ion-checkbox>
                <ion-icon item-end class="arrow-dropright" ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
            </ion-item>
        </div>
    </ion-list>
    <ion-list class="stage-status">
        <ion-item class="item-stable" (click)="expandCollapse('beforeFinish')">
            Before Finish
            <ion-icon item-end ios="md-add" md="md-add" *ngIf="expandCol !== 'beforeFinish'"></ion-icon>
            <ion-icon item-end ios="md-remove" md="md-remove" *ngIf="expandCol === 'beforeFinish'"></ion-icon>
        </ion-item>
        <div class="expandable" [ngClass]="{'active': expandCol === 'beforeFinish'}">
            <ion-list>
                <ion-item *ngFor="let dummyItem of dummyItems">
                    <ion-label>{{dummyItem.name}}</ion-label>
                    <ion-checkbox item-end></ion-checkbox>
                    <ion-icon item-end class="arrow-dropright" ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
                </ion-item>
            </ion-list>
            <ion-item>

                <!--<ion-icon item-end ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon>-->
            </ion-item>
        </div>
    </ion-list>

    <ion-list class="stage-status">
        <div class="expandable" [ngClass]="{'active': expandCol === 'beforeStart'}">
            <ion-item class="item-date">
                <div item-content>
                    <span>Start Date:</span>
                    <button ion-button icon-right (click)="picker.open()">
                        <ion-datetime #picker1 pickerFormat="DD MMMM YYYY" [min]="datePickerMin" [(ngModel)]="endDatePicker"></ion-datetime>
                    </button>
                </div>
                <ion-icon item-end name="calendar" (click)="picker1.open()"></ion-icon>
            </ion-item>
        </div>
        <button ion-button class="grey-btn">End</button>
    </ion-list>
</ion-content>